.git
.docker/*
docker
kuberneties
Dockerfile
CODE_OF_CONDUCT.md
docker-compose.yml
README.md
.github
/docker/*
/web/.DS_Store
.dockerignore
env_common.env
docker-entrypoint.sh
port-fix.sh
kuberneties
ApiPortal-development.docx
apigeeportal_2020-02-07.sql
*.sh
*.txt
